<!DOCTYPE html>
<html>
	<head>
		<title>Burger Time!!</title>
		<link rel="stylesheet" type="text/css" href="../../public/assets/css/burger_style.css">
		<script type="https://code.jquery.com/jquery.js"></script>
		<script type="../../models/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>